@import "./variables";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.productdetail-page {
    .review-title {
        font-size: 20px;
        color:$themePrimaryColor;
        strong {
            padding-left:10px;
            color: $fontHoverColor;
            font-weight: 500;
        }
    }
    .field.qty .qty-input {
        margin-right: 15px;
    }
    .product-review {
        .label {
            font-size: 13px;
            line-height: 15px;
            color: $themePrimaryColor;
            margin-top:15px;
        }
        .field.required {
            .label:after {
                content: "*";
                color: #ff0000;
                margin: 0 0 0 2px;
            }
        }
        textarea {
            min-height: 117px;
            padding-top:5px;
        }
        .action-primary {
            margin-top:20px;
            button {
                background: $themePrimaryColor;
                border-radius: 0px;
                color: $whiteColor;
                &:hover {
                    background: $fontHoverColor; 
                }
            }
        }
    }
    .product-info-main {
        margin-top:30px;
        .product_content {
            display: block;
        }
        .wish_link {
            height: 40px;
            min-width: 40px;
            background-color: #fff;
            border: 1px solid #222;
            text-align: center;
            line-height: 40px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .add_to_cart_btn {
            position: static;
            opacity: 1;
            visibility: visible;
            transform: none;
            margin-right: 15px;
            a {
                background-color: $themePrimaryColor;
                color: $whiteColor;
                border-radius: 40px;
                padding: 0 25px;
                line-height: 40px;
                white-space: nowrap;
                font-size: 14px;
                display: block;
                text-decoration: none;
                width: auto;
                height: auto;
                box-shadow: none;
                min-width: 160px;
                text-align: center;
                &:after {
                    display: none;
                }
                &:hover {
                    background-color: $fontHoverColor;
                }
            }
            span {
                display: block;
            }
        }
        .wishlist_block {
            position: static;
            opacity: 1;
            visibility: visible;
            transform: none;
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            a {
                color: $themePrimaryColor;
                i {
                    font-size: $font16 ;
                }
                &:hover {
                    background-color: #222;
                    i {
                        color:#fff
                    }
                }
            }
        }
        .product_name {
            h6 {
                font-size: 18px;
                margin-bottom: 10px;
                font-weight: 600;
            }
        }
        .main_price span {
            font-size: 22px;
            font-weight: 400;
        }
        .product-info-stock-sku {
            margin-top:30px;
            strong {
                font-size: 14px;
                color:$themePrimaryColor;
            }
            span {
                font-size: 14px;
                padding-left:10px;
            }
            .stock.available span {
                color:green;
            }
            .stock.not_available span {
                color:red;
            }
            div {
                margin-bottom:10px;
            }
            .product-sku span {
                color: $fontColor;
            }
        }
    } 
    .product-more-info {
        .moreinfo-table {
            width:100%;
            font-size: 13px;
        }
        th {
            width: 40%;
            padding:15px;
            border:1px solid #ddd;
            color:#5f5f5f;
            font-weight: 700;
        }
        td {
            width: 60%;
            padding:15px;
            border:1px solid #ddd;
            color:$fontColor;
            font-weight: 500;
        }
    } 
    .product-review {
        .starrating > input {
            display: none;
        }  
        .starrating > label:before { 
            content: "\f005"; /* Star */
            margin: 2px;
            font-size: 22px;
            font-family: 'FontAwesome';
            display: inline-block;
            font-style: normal; 
            font-weight: normal;
        }
        .starrating > label {
            color: $fontColor; /* Start color when not clicked */
            line-height: 22px;
        }
        .starrating > input:checked ~ label { 
            color: #ffca08 ;  /* Set yellow color when star checked */
        }
        .starrating > input:hover ~ label { 
            color: #ffca08 ;  
        }
    }
    .content-heading {
        text-align: center;
        margin: 0 auto;
        h3 {
            position: relative;
        }
    }
    ul.thumbs {
        padding-left:0px;
    }
    .carousel {
        .thumbs-wrapper {
            margin:20px 0;
        }
    }
    .product.media {
        margin-top:30px;
    }
    .product.media > div {
        width:100%;
    }
    .image-wrapper {
        display: block;
        position: relative;
        overflow: hidden;
        padding: 100% 0 0 0;
        height: 0px;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin:0 auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .tab-section {
        width:100%;
    }
}
@media(max-width:767px) {
    .productdetail-page {
        .product-info-main {
            margin-top:0px;
            margin-bottom:30px;
        }
        .tab-section {
            margin-top:20px;
        }
    }
}
@media(max-width:377px) {
    .productdetail-page {
        .actions-link {
            flex-wrap:wrap;
        }
        .field.qty {
            margin-top: 10px;
        }
        .add_to_cart_btn {
            flex:1;
            margin-top: 10px;
        }
        .product-info-main {
            .wishlist_block {
                margin-top: 10px;
            }
        }  
    }
}