$themePrimaryColor : #222222;
$themeSecondaryColor : #f6f6f8;

$fontColor : #878787;
$a_fontColor : #8e8e8e;
$fontHoverColor : #56cfe1;
$whiteColor: #fff;
$borderColor: #eaeaea;

$font12 : 12px;
$font14 : 14px;
$font16 : 16px;
$font24 : 24px;

$fontWeight400: 400;
$fontWeight600: 600;

$fontfamily: 'Poppins', sans-serif;
$fontfamily-second:'Changa', sans-serif;

$topHeadbgColor : $themeSecondaryColor;
$bottomFooterbgColor: $themeSecondaryColor;
